header {
  background-color: rgb(90, 140, 214);
  grid-column: 1/-1;
  height: 70px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 950px;
  background-image: url(images/naitedm.webp);

  background-size: cover;
}

ul {
  display: flex;
  list-style-type: none;
  grid-row: 1;
  grid-column: 4;
  font-weight: bolder;
  padding: auto;
  margin: auto;
}

li {
  padding: 5px;
  padding-right: 50px;
  width: 50px;
}
a {
  text-decoration: none;
}
a:hover {
  color: blue;
}
