@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Vollkorn+SC:wght@700&display=swap");

body {
  background-image: url(../img/MINIMAL.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  font-family: "Vollkorn SC", serif;
}

header {
  text-align: center;
  margin: auto;
  padding: auto;
  grid-column: 4;
  font-size: xx-large;
  color: rgb(22, 13, 63);
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 950px;
}

ul {
  display: flex;
  list-style-type: none;
  grid-row: 2;
  grid-column: 4;
  font-weight: bolder;

  margin-right: 50px;
}

li {
  padding: 5px;
  padding-right: 50px;
  width: 50px;
}
a {
  text-decoration: none;
  color: rgb(182, 151, 93);
}
a:hover {
  background-image: linear-gradient(
    rgba(204, 146, 39, 0.027),
    rgba(141, 110, 10, 0.527)
  );
}

.quote {
  grid-column: 4/6;
  grid-row: 6/7;
  border: 1px ;
  border-radius: 20px;
  padding: 20px;
  margin: 40px;
}
p:hover {
  color: rgb(255, 239, 219);
}
